$color-gold: rgb(218, 170, 14);
$color-light-green: rgb(127, 236, 55);
$color-white: rgb(255, 255, 255); 
$color-light-grey: rgb(212, 213, 216);
$color-pale-green: rgb(170, 240, 113);
$color-secondary: #007bff;
$color-primary: #333;
